NEXT_PUBLIC_SUPABASE_URL=https://xiwvmuqrerbolrhdmmsc.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_6DdgckRt209WoBd2C8E-Fg_baeit4aS
SUPABASE_DB_URL=
SUPABASE_SERVICE_ROLE_KEY=
APP_ALLOWED_EMAILS=tu@email.com,josemigueloaguado@estudiante.uc.cl
NEXT_PUBLIC_APP_MODE=demo
